%h1 New product type

= form_for @product_type, :html => {:class => 'product-type-form'} do |f|
  - if @product_type.errors.any?
    #error_explanation
      %h2= "#{pluralize(@product_type.errors.count, "error")} prohibited this shoe from being saved:"
      %ul
        - @product_type.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name

  .actions
    = f.submit 'Save', :class => "save-button"


= link_to 'Back', product_types_path, :class => "back-button"
