= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message
  %p
    %b First Name:
    = @user.first_name
  %p
    %b Last Name:
    = @user.last_name
  %p
    %b Email:
    = @user.email
  .field
    = f.label :organization
    = #f.number_field :organization_id
    = f.collection_select :organization_id, Organization.all, :id, :name
  .actions
    = f.submit 'Save', :class => "save-button"
