.search-options
  = form_with url: shoes_path, scope: :search_options, method: :get do |f|
    #search-received-date
      .field.search-by-date-checkbox
        = f.label :received_date
        = f.check_box :received_date
      #search-received-date-input.hidden
        .field
          = f.label :received_date_from
          = f.date_select :received_date_from
        .field
          = f.label :received_date_to
          = f.date_select :received_date_to

    #search-due-date
      .field.search-by-date-checkbox
        = f.label :due_date
        = f.check_box :due_date
      #search-due-date-input.hidden
        .field
          = f.label :due_date_from
          = f.date_select :due_date_from
        .field
          = f.label :due_date_to
          = f.date_select :due_date_to
    .actions
      = f.submit "Search"
