.search-options
  = form_with url: shoes_path, scope: :search_options, method: :get, :html => {:class => 'search-form'} do |f|
    #search-by-id.search-text-field
      .field.search-option-checkbox
        = f.label :id
        = f.check_box :id
      #search-id-input.button-options.hidden
        = f.number_field :id, min: 1

    #search-by-date-received.search-date-field
      .field.search-option-checkbox
        = f.label :date_received
        = f.check_box :date_received
      #search-date-received-input.hidden
        .field
          = f.label :date_received_from
          = f.date_select :date_received_from
        .field
          = f.label :date_received_to
          = f.date_select :date_received_to

    #search-by-date-due.search-date-field
      .field.search-option-checkbox
        = f.label :date_due
        = f.check_box :date_due
      #search-date-due-input.hidden
        .field
          = f.label :date_due_from
          = f.date_select :date_due_from
        .field
          = f.label :date_due_to
          = f.date_select :date_due_to

    #search-by-type-of-payment.search-checkbox-field
      .field.search-option-checkbox
        = f.label :search_by_type_of_payment, "Type of payment"
        = f.check_box :search_by_type_of_payment
      #search-type-of-payment-input.button-options.hidden
        %ul#list-of-options
          %li
            = f.radio_button :type_of_payment, "Card"
            = f.label :type_of_payment, "Card", value: "Card"
          %li
            = f.radio_button :type_of_payment, "Cash"
            = f.label :type_of_payment, "Cash", value: "Cash"

    #search-by-paid-for.search-checkbox-field
      .field.search-option-checkbox
        = f.label :search_by_paid_for, "Paid for?"
        = f.check_box :search_by_paid_for
      #search-paid-for-input.button-options.hidden
        %ul#list-of-options
          %li
            = f.radio_button :paid_for, "1"
            = f.label :paid_for, "Yes, paid for", value: "1"
          %li
            = f.radio_button :paid_for, "0"
            = f.label :paid_for, "Not paid for", value: "0"

    #search-by-delivered.search-checkbox-field
      .field.search-option-checkbox
        = f.label :search_by_delivered, "Delivered?"
        = f.check_box :search_by_delivered
      #search-delivered-input.button-options.hidden
        %ul#list-of-options
          %li
            = f.radio_button :delivered, "1"
            = f.label :delivered, "All items", value: "1"
          %li
            = f.radio_button :delivered, "0"
            = f.label :delivered, "Only delivered", value: "0"

    .actions
      = f.submit "Search"
