= form_for @shoe do |f|
  - if @shoe.errors.any?
    #error_explanation
      %h2= "#{pluralize(@shoe.errors.count, "error")} prohibited this shoe from being saved:"
      %ul
        - @shoe.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :owner
    = f.text_field :owner
  .field
    = f.label :phone
    = f.number_field :phone, min: 1
  .field
    = f.label :product_type
    = f.text_field :product_type
  .field
    = f.label :brand
    = f.text_field :brand
  .field
    = f.label :color
    = f.text_field :color
  .field
    = f.label :gender
    = f.text_field :gender
  .field
    = f.label :task_description
    = f.text_area :task_description, cols: 80, rows: 10
  .field
    = f.label :cost
    = f.text_field :cost
  .field
    = f.label :paid_for
    = f.check_box :paid_for
  .field
    %div
      %p Type of payment
    = f.radio_button :type_of_payment, "Card"
    = f.label :type_of_payment, "Card", value: "Card"
    = f.radio_button :type_of_payment, "Cash"
    = f.label :type_of_payment, "Cash", value: "Cash"
  .field
    = f.label :date_received
    = f.date_select :date_received
  .field
    = f.label :date_due
    = f.date_select :date_due
  .actions
    = f.submit 'Save'
