= form_for @shoe, :html => {:class => 'shoe-form'} do |f|
  - if @shoe.errors.any?
    #error_explanation
      %h2= "#{pluralize(@shoe.errors.count, "error")} prohibited this shoe from being saved:"
      %ul
        - @shoe.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :owner
    = f.text_field :owner
  .field
    = f.label :phone
    = f.number_field :phone, min: 1
  .field
    = f.label :product_type
    = f.text_field :product_type
  .field
    = f.label :brand
    = f.text_field :brand
  .field
    = f.label :color
    = f.text_field :color
  .field
    %div Gender
    .button-options
      %ul#list-of-options
        %li
          = f.radio_button :gender, "Male"
          = f.label :gender, "Male", value: "Male"
        %li
          = f.radio_button :gender, "Female"
          = f.label :gender, "Female", value: "Female"
  .field
    = f.label :task_description
    = f.text_area :task_description, cols: 80, rows: 8
  .field
    = f.label :cost
    = "$ ".html_safe + cost_input_field(f, @shoe)
  .field#paid-for-field
    = f.label :paid_for, "Paid for?"
    = "Yes: ".html_safe + paid_for_checkbox(f, @shoe)
  .field#type-of-payment{ class: @shoe.paid_for ? "" : "hidden" }
    %div Type of payment
    .button-options
      %ul#list-of-options
        %li
          = payment_options_button(f, @shoe, "Card")
          = f.label :type_of_payment, "Card", value: "Card"
        %li
          = payment_options_button(f, @shoe, "Cash")
          = f.label :type_of_payment, "Cash", value: "Cash"
  .field
    = f.label :date_received
    = f.date_select :date_received
  .field
    = f.label :date_due
    = f.date_select :date_due
  .field
  .actions
    = f.submit 'Save', :class => "save-button"
