%h1 Listing shoes

%table
  %thead
    %tr
      %th ID
      %th Owner
      %th Phone
      %th Product type
      %th Brand
      %th Color
      %th Cost ($)
      %th Task description
      %th Date received
      %th Date due
      %th Location
      %th Finished?
      %th Delivered?
      %th
      %th

  %tbody
    - @shoes.each do |shoe|
      %tr
        %td= shoe.id
        %td= shoe.owner
        %td= number_to_phone(shoe.phone)
        %td= shoe.product_type
        %td= shoe.brand
        %td= shoe.color
        %td= shoe.cost
        %td.task-description-column= shoe.task_description
        %td.date-column= shoe.date_received
        %td.date-column= shoe.date_due
        %td= shoe.location
        %td= human_boolean(shoe.finished)
        %td= human_boolean(shoe.delivered)
        %td= link_to 'Show', shoe
        %td= link_to 'Edit', edit_shoe_path(shoe)

%br

= link_to 'New Shoe', new_shoe_path
